@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'poppins',sans-serif;
    padding: 0;
   
}

nav{
    background-color: #4CB8C4;
    grid-column: 1/11;
    height: 3em;
    display: flex;
  justify-content: space-between;
 
}
nav span{
    font-size: 2rem;
    color: white;
}
nav a{
    text-decoration: none;
}
nav  li{
    list-style: none;
    font-size: 1.1rem;
    padding: 3px;
    display: inline-block;
    color: white;
}
header{
    width: auto;
    height: 100vh;
    background-color:  #4CB8C4;
    position: relative;
}
canvas {
    display: block;
  }
  #particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container{
      display: grid;
      grid-template-columns: repeat(10,1fr);
      grid-template-rows: repeat(10,1fr);
  }
  #about{
      grid-column: 2/6;
      grid-row: 4/9;
      font-size: 2rem;
      margin-bottom: 4em;
  }
  #code{
      transform: scale(7);
      grid-column:7 ;
    grid-row-start: 6;
  }
  
  .bio{
      grid-row-start: 8;
      grid-column: 2/13;
  }
  .bio >div{
      background-color: white;
      width: 5em;
      padding: 3px;
     
  }
  .bio >div a{
      text-decoration: none;
      color: black;
      font-weight: 900;

  }
  @media screen and (max-width:730px) {
      html{
          font-size: 14px;
      }
  }
  @media screen and (max-width:660px) {
 nav ul{
     display: none;
 }
 #about{
     grid-row-start: 2;
 }
}
@media screen and (max-width:380px){
    .bio{
        grid-row-start: 7;
    }
}
